#inSwitch{
	height: 0;
	width: 0;
	visibility: hidden;
  margin: 0;
}

#lblSwitch {
	cursor: pointer;
	text-indent: -9999px;
	width: 4em;
	height: 2em;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

#lblSwitch:after {
	content: '';
	position: absolute;
	top: 0.1em;
	left: 0.1em;
	width: 1.8em;
	height: 1.8em;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#inSwitch:checked + #lblSwitch {
	background: #43AC6A;
}

#inSwitch:checked + #lblSwitch:after {
	left: calc(100% - 0.1em);
	transform: translateX(-100%);
}

#lblSwitch:active:after {
  width: 3em;
}

#lblOuterSwitch {
  margin: 0;
  padding: 0;
  height: 2.5em;
}
